<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static', filename='CSS/Style.css' )}}">

</head>

<body>
    <div class="cabezera">
        <header>
    <div class="logo">
        <a href="{{ url_for('index')}}">Biodiversidad de Fusagasuga</a>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
            <li><a href="#informacion" onclick="seleccionar()">INFORMACION</a>
                <ul>
                    <li><a href="{{ url_for('informacion')}}" onclick="seleccionar()">MAS INFORMACION</a></li>
                </ul>
            </li>
            <li><a href="#observaciones" onclick="seleccionar()">OBSERVACIONES</a>
                <ul>
                    <li><a href="{{ url_for('flora')}}" onclick="seleccionar()">FLORA</a></li>
                    <li><a href="{{ url_for('fauna')}}" onclick="seleccionar()">FAUNA</a></li>
                </ul>
            </li>
            <li><a href="#proyectos" onclick="seleccionar()">PROYECTOS</a></li>
        </ul>
    </nav>
    <div class="nav-responsive" onclick="mostrarOcultarMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>
</div>
{% block body %}

{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


</body>
</html>
