{% extends './base.html' %}

{% block title%} Fauna {%endblock%}

{% block body %}

<section id="inicio" class="inicio">
    <div class="contenido-inicio">
        <h1>Fauna en el municipio de Fusagasuga</h1>
         </div>
</section>

<section id="informacion" class="informacion">
    <div class="contenido-informacion">
        <h1>Informacion<br><br></h1>
        <p>La fauna es el conjunto de especies animales que habitan en una región geográfica, que son propias de un período geológico o que se pueden encontrar en un ecosistema determinado. La zoogeografía se ocupa de la distribución espacial de los animales. Ésta depende tanto de factores abióticos como de factores bióticos. Entre éstos sobresalen las relaciones posibles de competencia o de depredación entre las especies. Los animales suelen ser sensibles a las perturbaciones que alteran su hábitat; por ello, un cambio en la fauna de un ecosistema indica una alteración en uno o varios de los factores de éste. <br><br></p>
        <p>En Fusagasugà hay gran diversidad de animales en su mayoría domésticos  y de granja la gran intervención a los recursos vegetales, y su desaparición, la cacería indiscriminada, el uso de pesticidas han traído como consecuencia la desaparición de la fauna. <br><br>
            Los mamíferos representativos ya extintos del municipio son: el tigrillo, el venado cola blanca,  el osos de anteojos, la danta de páramo, cafucho. Aun sobreviven algunas especies como el armadillo, el zorro perruno, el conejo, ratas, murciélagos, ardillas, zarigüeya entre otros.<br></p>
    </div>
</section>


<section id="observaciones" class="observacion">
    <div class="contenido-observacion">
        <h1>Observaciones</h1>
        <div class = "contenedor">
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ani1.png' )}}" alt="">   <p> Ganado Vacuno (Bos taurus) </p>    </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ani2.png' )}}" alt="">   <p> perro domestico (Canis familiaris)      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ani3.png' )}}" alt="">   <p> Gato Domestico (Felis catus) </p>      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ani4.png' )}}" alt="">   <p> Chucha orejinegra (Didelphis marsupialis)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ani5.png' )}}" alt="">   <p> Mariposa monarca (Danaus plexippus) </p>      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ave1.png' )}}" alt="">   <p> Eufinia gorgiamarilla (Euphonia laniirostris)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ave2.png' )}}" alt="">   <p> Canario colorado (Sicalisflaveola) </p>      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ave3.png' )}}" alt="">   <p> Toche pico de plata (Ramphocelus dimidiatus) </p>      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ave4.png' )}}" alt="">   <p> Titiribi pechirojo (Pyrocephalus rubinus) </p>      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ave5.png' )}}" alt="">   <p> Colibri rutilante (Colibri coruscans)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/reptil1.png' )}}" alt=""><p> Anois tolimensis  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/reptil2.png' )}}" alt=""><p> Rana platanera de ojos palidos (Boana platanera)   </p>    </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/reptil3.png' )}}" alt=""><p> Culebra terrera rojiza (Atractus werneri)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/reptil4.png' )}}" alt=""><p> Sapo gigante (Rhinella horribilis) </p>      </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/reptil5.png' )}}" alt=""><p> Besucona asiatica (Hemidactylus frenatus)   </p>    </div>
        </div>
    </div>
</section>

<section id="proyectos" class="proyectos">
    <div class="contenido-proyectos">
        <h1>Proyectos</h1>
        <div class = "cont-pro">
            <div class="proyecto1">
                <h2>Proyecto iNaturalist - Biodiversidad de Fusagasugá</h2>
                <p>Este proyecto tiene como objetivo reunir información sobre la biodiversidad en el municipio de Fusagasugá. A través de observaciones, se identifican especies locales, incluyendo aves, plantas, hongos e insectos. La información recopilada es valiosa para quienes se interesan en esta temática</p>
            </div>
            <div class="proyecto2">
                <h2>Inventario de Biodiversidad Fusagasugá y Silvania</h2>    
                <p>Este proyecto busca contribuir a la mitigación y adaptación al cambio climático mediante el conocimiento de la biodiversidad local y la gestión participativa de los recursos naturales.</p>
                <p>Se enfoca en la identificación de especies locales para valorar los servicios ecosistémicos generados por la riqueza en biodiversidad.</p>
            </div>
        </div>
    </div> 
</section>

{% endblock %}