{% extends './base.html' %}

{% block title%} Flora {%endblock%}

{% block body %}

<section id="inicio" class="inicio">
    <div class="contenido-inicio">
        <h1>Flora en el municipio de Fusagasuga</h1>
         </div>
</section>

<section id="informacion" class="informacion">
    <div class="contenido-informacion">
        <h1>Informacion</h1>
        <p> Es el conjunto de especies vegetales que se pueden encontrar en una región geográfica, que son propias de un  periodo geológico o que habitan en un ecosistema determinado. <br><br>
         Fusagasugà es Llamada Ciudad Jardín De Colombia, por ello se pude apreciar en cada lugar mucha vegetación tales como flores, musgos. arboles, enredaderas etc. En muchos hogares fusagasugeños podemos observar que cuentan con jardines con diversas flores y vegetación nativa que embellecen el entorno.</p>
       
    </div>
</section>

<section id="observaciones" class="observacion">
    <div class="contenido-observacion">
        <h1>Observaciones</h1>
        <div class = "contenedor">
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor1.png' )}}" alt="">  <p> Espanta novia (Catharanthus  roseus) </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor2.png' )}}" alt="">  <p> Candelillo (Senna spectabilis) </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor3.png' )}}" alt="">  <p> Anturio (Anthurium andraeanum) </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor4.png' )}}" alt="">  <p> Cayeno (Hibisus rosa sinensis) </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor5.png' )}}" alt="">  <p> Batatilla (Ipomoea purpurea)    </p>  </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor6.png' )}}" alt="">  <p> Lorito (Heliconia rostrata) </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor7.png' )}}" alt="">  <p> Ojo de poeta (Thunbergia alata)   </p>   </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor11.png' )}}" alt=""> <p> Geranio (Pelargonium hybridum)  </p>    </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor9.png' )}}" alt="">  <p> Guayacan rosado (Tabebuia rosea)  </p>    </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor10.png' )}}" alt=""> <p> Croton asiatico de jardin (Codiaeum variegatum)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor12.jpg' )}}" alt=""> <p> Orquídea (Orchidaceae)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor13.jpg' )}}" alt=""> <p> Rosas (Rosa chinensis)  </p>     </div>
        </div>
    </div>
</section>

<section id="proyectos" class="proyectos">
    <div class="contenido-proyectos">
        <h1>Proyectos</h1>
        <div class = "cont-pro">
            <div class="proyecto1">
                <h2>Proyecto iNaturalist - Biodiversidad de Fusagasugá</h2>
                <p>Este proyecto tiene como objetivo reunir información sobre la biodiversidad en el municipio de Fusagasugá. A través de observaciones, se identifican especies locales, incluyendo aves, plantas, hongos e insectos. La información recopilada es valiosa para quienes se interesan en esta temática</p>
            </div>
            <div class="proyecto2">
                <h2>Inventario de Biodiversidad Fusagasugá y Silvania</h2>    
                <p>Este proyecto busca contribuir a la mitigación y adaptación al cambio climático mediante el conocimiento de la biodiversidad local y la gestión participativa de los recursos naturales.</p>
                <p>Se enfoca en la identificación de especies locales para valorar los servicios ecosistémicos generados por la riqueza en biodiversidad.</p>
            </div>
        </div>
    </div> 
</section>

{% endblock %}