{% extends './base.html' %}

{% block title%} Index {%endblock%}

{% block body %}
<section id="inicio" class="inicio">
    <div class="contenido-inicio">
        <h1>Biodiversidad en el municipio de Fusagasuga</h1>
         </div>
</section>

<section id="informacion" class="informacion">
    <div class="contenido-informacion">
        <h1>Fusagasuga</h1>
        <p>Fusagasugá es un municipio colombiano, capital de la provincia del Sumapaz en el departamento de Cundinamarca, ubicado sobre la autopista Bogotá - Buenaventura. Conocido como "Ciudad Jardín de Colombia" también llamado “Tierra Grata”. Actualmente Fusagasugá es una de las ciudades con más desarrollo de la región central, centro económico y de servicios del sur del departamento, el comercio, la construcción y el mercadeo agropecuario son sus principales sectores productivos.</p>
    </div>
</section>

<section id="informacion1" class="informacion">
    <div class="contenido-informacion">
        <h1>Informacion</h1>
        <p>La biodiversidad en Fusagasugá, un municipio en Cundinamarca, Colombia, es notable y diversa. Esta región alberga una gran variedad de aves, plantas, insectos y otros seres vivos. Los bosques nublados de los Andes, los ríos y quebradas, y la abundante vegetación contribuyen a esta riqueza natural. Proyectos como iNaturalist y el Inventario de Biodiversidad Fusagasugá y Silvania han documentado y valorado esta biodiversidad, promoviendo su conservación y uso sostenible</p>
        <p>Actualmente se presentan 1817 especies registradas en el municipio de Fusagasugá y alrededores identificando animales domésticos, salvajes y flora entre ellos se encuentran gran variedad de aves y reptiles.  </p>
    </div>
</section>



<section id="observaciones" class="observacion">
    <div class="contenido-observacion">
        <h1>Observaciones</h1>

        <div class = "contenedor">
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ani1.png' )}}" alt="">   <p> Ganado Vacuno (Bos taurus) </p>    </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/ave1.png' )}}" alt="">   <p> Eufinia gorgiamarilla (Euphonia laniirostris)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/reptil1.png' )}}" alt=""><p> Anois tolimensis  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor1.png' )}}" alt="">  <p> Espanta novia (Catharanthus  roseus) </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor10.png' )}}" alt=""> <p> Croton asiatico de jardin (Codiaeum variegatum)  </p>     </div>
            <div class = "imagen"> <img src="{{ url_for('static', filename='imagenes/flor12.jpg' )}}" alt=""> <p> Orquídea (Orchidaceae)  </p>     </div>
        </div>
        
        <section id="proyectos" class="proyectos">
            <div class="contenido-proyectos">
                <h1>Proyectos</h1>
                <div class = "cont-pro">
                    <div class="proyecto1">
                        <h2>Proyecto iNaturalist - Biodiversidad de Fusagasugá</h2>
                        <p>Este proyecto tiene como objetivo reunir información sobre la biodiversidad en el municipio de Fusagasugá. A través de observaciones, se identifican especies locales, incluyendo aves, plantas, hongos e insectos. La información recopilada es valiosa para quienes se interesan en esta temática</p>
                    </div>
                    <div class="proyecto2">
                        <h2>Inventario de Biodiversidad Fusagasugá y Silvania</h2>    
                        <p>Este proyecto busca contribuir a la mitigación y adaptación al cambio climático mediante el conocimiento de la biodiversidad local y la gestión participativa de los recursos naturales.</p>
                        <p>Se enfoca en la identificación de especies locales para valorar los servicios ecosistémicos generados por la riqueza en biodiversidad.</p>
                    </div>
                </div>
            </div> 
        </section>
    </div>
</section>

{% endblock %}