{% extends './base.html' %}

{% block title%} Mas Informacion {%endblock%}

{% block body %}
<section id="inicio" class="inicio">
    <div class="contenido-inicio">
        <h1>Biodiversidad en el municipio de Fusagasuga</h1>
         </div>
</section>

<section id="informacion" class="informacion">
    <div class="contenido-informacion">
        <h1>¿Por qué Fusagasugá es tan especial?</h1>
        <p>Fusagasugá es un municipio ubicado en la región andina de Colombia, y su clima se caracteriza por ser templado y húmedo. Esta combinación de temperatura es ideal para el cultivo de flores, ya que permite un desarrollo óptimo de las plantas y una producción de alta calidad. Además, el clima templado de Fusagasugá se debe a su ubicación geográfica, que se encuentra a una altitud promedio de 1.700 metros sobre el nivel del mar, lo que hace que las temperaturas sean suaves durante todo el año, con una temperatura media de 18 grados. </p>
    </div>
</section>

<section id="tradicion" class="informacion">
    <div class="contenido-informacion">
        <h1>La tradición floral en Fusagasugá </h1>
        <p>Desde hace más de 60 años, Fusagasugá ha sido líder en la industria floricultora del país, siendo la cuna de grandes empresas floristas. También, es sede del Festival de las Flores, una celebración que se realiza cada año en el mes de agosto y que atrae a miles de turistas nacionales e internacionales. Durante el festival, la ciudad se llena de color y vida con desfiles de carrozas y comparsas, concursos de jardines y exhibiciones de flores, convirtiéndose en un verdadero paraíso floral.  </p>
        <div class = "imageninfo"> <img src="{{ url_for('static', filename='imagenes/flor1.png' )}}" alt=""></div>
        <p>Aunque son distintas las flores que predominan en las veredas y el territorio fusagasugueño,  la orquídea es el símbolo representativo del municipio y el país en general, como lo mencionamos al inicio. De esta se pueden encontrar aproximadamente 24 mil especies identificadas, donde la flor nativa de la región llamada Odontoglossum Crispum es la que está junto a la bandera y el escudo de Fusagasugá.  </p>
        <div class = "imageninfo"> <img src="{{ url_for('static', filename='imagenes/Escudo_de_Fusagasugá.png' )}}" alt=""></div>
    </div>
</section>

<section id="vivir" class="informacion">
    <div class="contenido-informacion">
        <h1>¿Por qué vivir rodeado de la exquisita flora fusagasugueña? </h1>
        <p>La flora y la fauna de Fusagasugá son parte importante de la naturaleza al momento de embellecer el entorno y brindar numerosos beneficios. Una vivienda nueva en Fusagasugá, bordeada por este tipo de vegetación, tiene la capacidad de mejorar tu estado de ánimo, salud y comodidad. </p>
    </div>
</section>

{% endblock %}